    <div>
      <h1><%- title  %></h1>
        <form action="/" method="post">
           Enter your name:
           <input type="text" name="userName" placeholder="..." autofocus />
           <br/>
           <button type="submit">Submit</button>
        </form>
    </div>
