<!doctype html>
<!-- See https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
<html>
  <head>
    <title><%- title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
